html {
  --color-test: aqua;

  --color-background: #090a0a;
  --color-section-background: #0f0f0f;
  --color-card-background: #181817;

  --color-text: #fff;
  --color-text-faint: #8f8f8f;
  --color-divider: #585858;
  --color-highlight: #e10404;

  --font-poppins: "Poppins", sans-serif;
  --font-grotesk: "Space Grotesk", sans-serif;
}
