@use "../abstracts/" as *;

.constructor {
  &__container {
    margin: rem(30px) rem(60px);
    display: flex;
    gap: rem(30px);

    @include media(1300px) {
      margin: rem(30px);
    }

    @include media(900px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__figures {
    flex: 1 0 45%;
  }

  &__drivers {
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-bottom: rem(25px);

    @include media(1300px) {
      flex-direction: column;
      align-items: center;
    }

    @include media(900px) {
      flex-direction: row;
      margin-top: rem(30px);
    }
  }

  &__driver {
    @include media(900px) {
      flex: 1;
    }
  }

  &__driver-image {
    border: 1px solid var(--color-text-faint);

    @include radiaGridLines(
      var(--color-section-background),
      rgba(212, 212, 212),
      80%,
      0.3
    );
    width: rem(206px);
    transition: all 0.4s;

    @include media(1100px) {
      width: rem(150px);
    }

    @include media(900px) {
      width: 100%;

      img {
        margin: 0 auto;
      }
    }
  }

  &__driver:hover &__driver-image {
    background-size: 100%, 36px 36px, 36px 36px;
  }

  &__driver-info {
    font-family: var(--font-grotesk);
    padding: rem(15px) 0;
    display: flex;

    @include media(900px) {
      justify-content: center;
    }
  }

  &__car {
    padding-top: rem(20px);

    @include radiaGridLines(
      var(--color-section-background),
      rgba(212, 212, 212),
      80%,
      0.3
    );

    transition: all 0.4s;

    @include media(900px) {
      img {
        margin: 0 auto;
        max-width: 80%;
      }
    }

    @include media(700px) {
      img {
        margin: 0 auto;
        max-width: 100%;
      }
    }
  }

  &__car:hover {
    background-size: 100%, 36px 36px, 36px 36px;
  }

  &__content {
    flex: 1 0 55%;

    @include media(900px) {
      width: 100%;
    }
  }

  &__logo {
    padding: rem(15px);
    margin-bottom: rem(15px);
    background: linear-gradient(to right, #ffffff00, #ffffff3a, #ffffff00);

    img {
      max-height: rem(60px);
      margin: 0 auto;
    }

    .aston_martin,
    .mclaren,
    .alpine,
    .alfa,
    .alphatauri {
      filter: invert(1);
    }
  }

  .stats {
    border-top: var(--border-divider-faint);

    @include media(700px) {
      &__title,
      &__data {
        flex: 1 0 50%;
      }
    }
  }
}
