@use "../abstracts/" as *;

.home {
  &__more {
    margin-top: rem(80px);

    a {
      @include style-link(currentColor);
      display: inline-block;

      &:hover:not(&--active) {
        transform: translateY(-2px);
        &::after {
          width: 100%;
        }
      }
    }

    @include media(560px) {
      margin-top: rem(40px);
    }
  }
}
