@use "../abstracts/" as *;

.races {
  &__listing {
    height: rem(1100px);
    display: flex;
    align-items: center;
    margin-top: rem(30px);
  }

  &__race {
    margin: rem(50px);
    flex: 1;
  }

  &__map {
    margin-top: rem(80px);
    height: rem(300px);
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid var(--color-text-faint);

    .leaflet-container {
      height: 100%;
      width: 100%;
      z-index: 99;
    }
  }

  &__tables {
    margin: rem(60px) auto 0 auto;
    padding: 0 rem(50px);
    max-width: rem(1100px);
  }

  &__table {
    margin-top: rem(30px);
  }

  &__na {
    background-color: var(--color-table-alt-1);
    padding: rem(50px);
    border-radius: 10px;
  }

  &__loading {
    height: rem(1300px);

    .loader {
      margin-top: rem(50px);
      place-content: start center;
    }
  }
}
