@use "../abstracts/" as *;

.standings {
  &__table {
    margin: rem(30px) auto;
    padding: 0 rem(50px);
    max-width: rem(1100px);
  }

  &__tabs {
    margin-top: rem(50px);
    display: flex;
    gap: rem(30px);
    justify-content: center;
  }

  &__tab {
    @include style-link(var(--color-text-faint));
    cursor: pointer;
    background-color: transparent;
    border: none;

    &:hover {
      transform: translateY(-2px);
    }

    &--active {
      color: var(--color-text);
      transform: translateY(-2px);
    }
  }
}
