@use "../abstracts/" as *;

.event {
  display: flex;
  background-color: var(--color-event-background);
  width: 100%;
  max-width: rem(350px);
  padding: rem(15px) rem(25px);
  justify-content: space-between;

  &.race {
    border: 1px solid var(--color-text-faint);
  }

  p + p {
    border-left: solid 1px var(--color-text-faint);
  }

  p:first-child {
    text-align: left;
    padding-right: 5px;
    flex-basis: 38%;
  }

  p:last-child {
    text-align: right;
    padding-left: 5px;
    flex-basis: 38%;
  }

  &__day {
    flex-basis: 24%;

    padding-left: 5px;
    padding-right: 5px;
  }
}
