@use "../abstracts/" as *;

a {
  color: inherit;
  text-decoration: none;
}

.card {
  background-color: var(--color-card-background);
  height: rem(300px);
  padding: rem(10px) rem(15px);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s;

  @include media(400px) {
    &:not(.card--teams) {
      height: rem(260px);
    }
  }

  &--teams {
    height: rem(320px);

    @include media(420px) {
      height: rem(380px);
    }
  }

  &__content {
    position: relative;
    height: 100%;
    z-index: 1;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 10px;

    border-bottom: var(--border-divider-faint);
  }

  &__position {
    font-family: var(--font-grotesk);
    font-size: rem(26px);
  }

  &__points {
    font-family: var(--font-grotesk);
    color: rgb(241, 0, 0);
    font-weight: 600;
    font-size: rem(18px);
    text-align: right;

    p:first-child {
      margin-bottom: -6px;
    }
  }

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: var(--border-divider-faint);
  }

  &__name {
    font-size: rem(18px);
    font-family: var(--font-grotesk);
  }

  &__flag {
    width: rem(35px);
  }

  &__logo {
    width: rem(45px);
  }

  &__team {
    padding-top: rem(10px);
    text-align: left;
    font-size: rem(14px);
    font-weight: 300;
  }

  &__drivers {
    margin-top: rem(15px);
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media(420px) {
      align-items: flex-start;
      justify-content: space-around;
    }

    @include media(380px) {
      flex-direction: column;
      width: 180px;
      margin: rem(15px) auto;
      padding-left: rem(15px);
      gap: rem(10px);
    }
  }

  &__driver {
    display: flex;
    align-items: center;
    gap: rem(15px);

    @include media(600px) {
      p {
        text-align: left;
        max-width: rem(100px);
      }
    }

    @include media(420px) {
      display: block;

      p {
        text-align: center;
      }
    }

    @include media(380px) {
      display: flex;

      p {
        text-align: left;
        max-width: rem(250px);
      }
    }
  }

  &__driver-image {
    width: rem(40px);
    height: rem(40px);
    background-color: rgb(12, 12, 12);
    border: 2px solid var(--color-highlight);
    border-radius: 50%;
    overflow: hidden;

    img {
      max-width: 120%;
      max-height: 120%;
      width: 120%;
      height: 120%;
    }

    @include media(420px) {
      margin: 0 auto rem(5px) auto;
    }
  }

  &__graphic {
    margin-top: -20px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__number {
    font-family: var(--font-bakbak);
    font-size: rem(70px);
    font-weight: 700;
    margin-left: rem(10px);
    margin-bottom: rem(10px);

    @include media(400px) {
      font-size: rem(55px);
    }
  }

  &__image {
    width: rem(200px);

    @include media(400px) {
      width: rem(150px);
    }
  }

  &__car {
    margin-top: rem(20px);
    img {
      width: 70%;
      margin: 0 auto;
    }

    @include media(600px) {
      margin-top: rem(30px);
      img {
        width: 100%;
        margin: 0 auto;
      }
    }

    @include media(420px) {
      img {
        width: 110%;
        max-width: 110%;
        margin-left: rem(-13px);
      }
    }
  }

  &__background {
    z-index: 0;
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    &--right {
      height: rem(700px);
      transform: translate(-50%, -50%) rotate(90deg);

      .card__arrow {
        margin: -483px auto 0 auto;
      }
    }
  }

  &__arrow {
    border-color: var(--color-highlight);
    border-style: solid;
    border-width: 50px 50px 0 0;
    margin: -613px auto 0 auto;

    height: 600px;
    width: 600px;

    display: block;
    transform: rotate(135deg);
    transition: all 0.3s;

    &:not(:first-child) {
      margin-top: -515px;
    }

    &--1 {
      opacity: 0.1;
    }

    &--2 {
      opacity: 0.25;
    }

    &--3 {
      opacity: 0.4;
    }
  }

  .arrows-up {
    .card__arrow {
      transform: rotate(315deg);
      margin: 90px auto 0 auto;

      &:not(:first-child) {
        margin-top: -365px;
      }
    }
  }

  &:hover {
    transform: translateY(-5px);

    .card__arrow {
      transform: translateY(35px) rotate(135deg);

      &:not(:first-child) {
        margin-top: -485px;
      }
    }

    .card__background--right .card__arrow {
      &:not(:first-child) {
        margin-top: -435px;
      }
    }
  }
}
