@use "../abstracts/" as *;

.race {
  &__country {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

    img {
      width: 50px;
    }

    h2 {
      font-size: rem(25px);
      font-weight: 400;
      text-transform: uppercase;
    }
  }

  &__date {
    margin: rem(35px) auto 0 auto;
    width: 80%;
    padding-top: rem(20px);
    padding-bottom: rem(20px);
    border-top: var(--border-divider);
    border-bottom: var(--border-divider);

    @include media(560px) {
      width: 90%;
    }
  }

  &__title {
    margin: rem(50px) auto 0 auto;
    width: 80%;

    font-family: var(--font-grotesk);
    font-size: rem(35px);

    @include media(560px) {
      margin: rem(30px) auto 0 auto;
      font-size: rem(25px);
    }
  }

  &__time {
    margin: rem(50px) auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    & > *:not(.divider) {
      font-weight: 500;
      width: 130px;
    }

    .divider {
      width: 1px;
      height: 35px;
      background-color: var(--color-text-faint);
    }
  }

  &__grid {
    margin-top: rem(50px);
    padding: 0 rem(20px);

    display: grid;
    grid-template-columns: repeat(2, minmax(rem(250px), rem(320px)));
    gap: rem(25px);
    justify-content: center;

    & > *:last-child {
      grid-column: 1 / -1;
      justify-self: center;
    }

    @media only screen and (max-width: 80em) {
      grid-template-columns: minmax(rem(250px), rem(320px));
    }
  }
}
