@use "../abstracts/" as *;

.table {
  &__row {
    height: rem(60px);
    display: flex;
    align-items: center;
    padding: 0 rem(20px);
    transition: all 0.2s;

    cursor: pointer;

    &:nth-child(odd) {
      background-color: var(--color-table-alt-1);
    }

    &:nth-child(even) {
      background-color: var(--color-table-alt-2);
    }

    &:hover {
      background-color: #383838;
      padding-bottom: 5px;

      .table__arrow::before {
        transform: rotate(45deg) translate(3px, -3px);
      }
    }
  }

  &__position {
    flex-basis: rem(30px);
    font-weight: 600;
    text-align: right;

    padding-right: rem(15px);
    border-right: var(--border-divider);
  }

  &__name {
    margin-left: rem(20px);
    flex-basis: rem(180px);
    text-align: left;
  }

  &__code {
    display: none;
    margin-left: rem(20px);
    text-align: left;
  }

  &__logo {
    margin-left: rem(20px);
    width: rem(40px);
  }

  &__driver-image {
    width: rem(40px);
    height: rem(40px);
    border: 2px solid var(--color-highlight);
    border-radius: 50%;
    overflow: hidden;
    margin-left: rem(15px);
    margin-right: rem(-5px);

    img {
      max-width: 120%;
      max-height: 120%;
      width: 120%;
      height: 120%;
    }
  }

  &__team-logo {
    margin-left: rem(40px);
    width: rem(20px);
  }

  &__team {
    margin-left: rem(10px);
    font-size: rem(12px);
  }

  &__right {
    margin-left: auto;
  }

  &__points {
    font-size: rem(12px);
    background-color: var(--color-bubble);
    padding: rem(5px) rem(15px);
    border-radius: 999px;
  }

  &__time {
    margin-right: rem(20px);
  }

  &__status {
    margin-right: rem(20px);
  }

  &__qualifying {
    flex-basis: rem(350px);
    display: flex;
    gap: rem(20px);
  }

  &__qualifying-round {
    align-items: flex-end;
    flex-basis: 100px;
    display: flex;
    gap: rem(5px);

    span {
      color: yellow;
      font-size: rem(14px);
    }
  }

  &__dnf {
    font-weight: 800;
    margin-left: auto;
  }

  &__arrow {
    margin-left: rem(20px);
    margin-right: rem(10px);

    &::before {
      content: "";
      display: inline-block;

      border-style: solid;
      border-width: 2px 2px 0 0;

      height: 7px;
      width: 7px;

      position: relative;
      transform: rotate(45deg);
      transition: all 0.2s;
    }
  }

  &:not(.races-table) {
    .table__row {
      @include media(420px) {
        padding: 0 rem(10px);
      }
    }

    .table__name {
      @include media(900px) {
        font-size: rem(16px);
        flex-basis: rem(160px);
      }

      @include media(420px) {
        &:not(&--team) {
          display: none;
        }

        &--team {
          flex-basis: rem(120px);
        }
      }

      @include media(420px) {
        font-size: rem(14px);
      }
    }

    .table__code {
      @include media(420px) {
        display: block;
      }
    }

    .table__logo {
      @include media(600px) {
        display: none;
      }
    }

    .table__driver-image {
      @include media(750px) {
        display: none;
      }
    }

    .table__team-logo {
      @include media(900px) {
        margin-left: rem(10px);
      }

      @include media(750px) {
        display: none;
      }
    }

    .table__team {
      @include media(650px) {
        display: none;
      }
    }

    .table__points {
      @include media(420px) {
        flex-basis: rem(70px);
        padding: rem(5px) rem(10px);
      }
    }

    .table__arrow {
      @include media(420px) {
        margin-left: rem(10px);
      }
    }
  }

  &.races-table {
  }
}
