@use "../abstracts/" as *;

.grid-responsive {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(rem(330px), 1fr));
  padding: rem(35px);
  gap: rem(20px);

  &--big {
    grid-template-columns: repeat(2, minmax(rem(450px), rem(650px)));
    justify-content: center;

    @media only screen and (max-width: 77.5em) {
      grid-template-columns: minmax(rem(450px), rem(650px));
    }

    @include media(700px) {
      grid-template-columns: 1fr;
    }
  }

  @include media(400px) {
    grid-template-columns: repeat(auto-fit, minmax(rem(280px), 1fr));
  }
}
