@use "../abstracts/" as *;
.stats {
  padding: rem(10px);

  &__row {
    display: flex;
    margin-top: 2%;
  }

  &__title {
    flex: 1 0 60%;
    text-align: left;
    font-weight: 600;
  }

  &__row:hover &__title,
  &__row:hover &__data {
    text-decoration: underline;
  }

  &__data {
    flex: 1 0 40%;
    text-align: left;
    margin-left: rem(10px);
    font-weight: 300;
  }
}
